body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header (<header>) */
header{
  display: flex;
  justify-content: space-between;
  background-color: #004080;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  padding: 20px;
  margin: 0px;
}

/* Footer (<footer>) */
footer{
  /* Set background color to #004080 (deep blue) with white text */
  background-color: #004080;
  color: white;
  /* Apply padding of 10px. */
  padding: 10px;
  text-align: center;

}

/* Navigation Bar (<div>) */
.navigation_links{
  list-style-type: none; 
  background-color: #003366;
  padding: 10px;
}

.navigation_links ul{
      /* Display navigation as a flex container. */
      display: flex;
      /* Make even spacing of navigation links to other pages */
      justify-content: space-evenly;
      list-style-type: none;
}

.navigation_links a{
  color: white;
  text-decoration: none;
}

.navigation_links a:hover{
  text-decoration: underline;
}

/* C. Course Tiles */
.course_item{
  background-color: lightblue;
  box-shadow: 10px 10px 10px #111111;
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
  text-align: center;
}

.featured_courses_list{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: center;
}

.testimonials_list
{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style-type: none;
}

#Login_Form{


  text-align: center;
}

#Login_Messages{
  margin: auto; 
  text-align: center; 
  text-align: center;
  border: 1px solid #000000; 
  padding: 10px;
  width: fit-content; 
  min-width: 250px;
  min-height: 50px;
  max-width: 100%; 
  word-wrap: break-word; 
  white-space: pre-wrap; 
}

.display_status_message{
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center; 

  border-radius: 10px;
  padding: 10px;
  width: fit-content; 
  min-width: 250px;
  min-height: 5px;
  max-width: 100%; 
  word-wrap: break-word; 
  white-space: pre-wrap; 
}

.form-styling{
  /* Center-align the login form using flexbox. */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Set background color to #d4d4d4 (light gray). */
  background-color: #d4d4d4;
  /* Add padding: 30px, left and right margin: 150px, and border-radius: 30px. */
  padding: 30px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
  border-radius: 30px;
  /* Add shadow effects for better visual appeal. */
  box-shadow: 10px 5px 5px #111111;
}

.input-field {
  /* Background color: light yellow. */
  background-color: lightyellow;
  /* Padding: 10px. */
  padding: 10px;
  /* Rounded corners (border-radius: 5px). */
  border-radius: 5px;
  /* Border: dark grey and 3px wide */
  border-color: darkgray;
  border-width: 3px;
  width:20%;
}

.signup-button{
  /* Use #008000 (green) with white text. */
  background-color: #4CAF50;
  padding:10px;
  border-radius: 5px;
  margin:10px;
  opacity: 0.5;
}

.signup-button:hover{

  background-color: #45A049;
  opacity: 1.0;
}

.message-box{
  border:#000000 1px solid;
  margin: 20px;
}